<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/static/getuser.js"></script>
    <script src="/static/ws.js"></script>
    <title>DebugConsole</title>
</head>
<body>
    <p>デバッグ</p>
    <div id="commands">
        <input type="text" id="roomname">
        <button onclick="OnEnter();">入室</button>
        <input type="text" id="message">
        <button onclick="OnSendMessage();">送信</button>
        <div id="ping">-ms</div>
        <button onclick="Ping();">Ping</button>
        <button  onclick="Disconnect();">退室</button>
    </div>
    <div>
    <ul id="recv">
    </ul>
    <div>
    <p>接続中ユーザー</p>
    <div id="users">
    </div>
</body>
</html>